@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Modak&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');


.App{
min-height: 100vh;
background-image: url("./assets/seamless-pattern-with-different-social-media-icons_405287-75\ \(1\).jpg");
background-size: 100%;
background-position: center;
}